*.xcframework
Pods
build


!*.xcframework/
*.xcframework/*
!*.xcframework/ios-arm64/

*.xcframework/ios-arm64/*
!*.xcframework/ios-arm64/*.framework/

*.xcframework/ios-arm64/*.framework/*
!*.xcframework/ios-arm64/*.framework/Headers/