*.xcframework
Pods
build

!Carthage/
Carthage/*

!Carthage/Build/
Carthage/Build/*

!Carthage/Build/*.xcframework/
Carthage/Build/*.xcframework/*
!Carthage/Build/*.xcframework/ios-arm64/

Carthage/Build/*.xcframework/ios-arm64/*
!Carthage/Build/*.xcframework/ios-arm64/*.framework/

Carthage/Build/*.xcframework/ios-arm64/*.framework/*
!Carthage/Build/*.xcframework/ios-arm64/*.framework/Headers/